
<head> 
    <title> {% block title %} {% endblock title %}  </title> 
   

</head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
    <div class="container-fluid bg-dark text-white">
      <a class="navbar-brand text-secondary" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item {% block homeactive%}{% endblock homeactive%}">
            <a class="nav-link active text-secondary " aria-current="page" href="{% url 'Tasks:home' %}" >Home</a>
          </li>
          <li class="nav-item {% block listactive%}{% endblock listactive%}">
            <a class="nav-link text-secondary " href="{% url 'Tasks:taskslist'  %}" >List Of Tasks</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link text-secondary " href="{% url 'Tasks:showimage'  %}" > Images </a> 
          </li>
          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle  text-info" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu  text-secondary" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item text-black" href="#">Action</a></li>
              <li><a class="dropdown-item  text-black" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item  text-black" href="#">Something else here</a></li>
            </ul>
          </li>
          
        </ul>
        {% if user.is_authenticated %}
        <p style="text-align:center;">Hello , {{user.username|capfirst}} </p>
        <a href="{% url 'Tasks:logout'%}">  <button type="button" class="btn btn-danger"> LogOut </button>  </a>
        {% else %}
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'Tasks:register' %}"> Register </a></li>
            <li class="breadcrumb-item active" aria-current="page"> <a href="{% url 'Tasks:login' %}"> Login </a> </li>
          </ol>
        </nav>
        {% endif %}
       
      </div>
    </div>
  </nav>
  <form action method="post" action="{% url 'Tasks:base' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <h1><strong>File upload</strong> </h1>
    
   
    <div class="form-group">
      <label for="caption">Caption <span></span></label>
      <input type="text" name="caption" id="caption" class="form-controll" />
    </div>
    <div class="form-group">
      <label for="caption">Description <span></span></label>
      <input type="text"  id="caption" class="form-controll" name='imagedescription'/>
    </div>
    <div class="form-group">
      <label for="caption"> <span></span></label>
      <input type="file"  class="form-controll" name='image_upload' required/>
    </div>
<button type="button" class="btn btn-success">   <input type="submit" value="Upload">  </button>
  </form>
  

  
  
  
  
  

