:root {
    --duration: 20s;
    --delay: 20s;
  }
  
  html {
    background-color: black;
    animation: shrink var(--duration) var(--delay) linear infinite;
  }
  
  body {
    position: relative;
    margin: 0 auto;
    padding: 0 1rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    animation: spin var(--duration) var(--delay) linear infinite;
    transform-style: preserve-3d;
    perspective: 25rem;
  }
  
  @mixin setImage($a, $x) {
    --name: float-up-#{$a};
    --duration: calc(20s * #{$a});
    left: #{$x}vw;
    z-index: -1 * $a;
  }
  
  img {
    --duration: 40s;
    --name: float-up-1;
    position: absolute;
    top: 0;
    left: 0;
    width: 33vw;
    transform: translateY(200vh);
    animation: var(--name) var(--duration) linear infinite;
    box-shadow: 1px 3px 15px rgba(0,0,0,0.5);
    z-index: 1;
  
    
  
  @keyframes float-up-3 {
    from {
      transform: translateY(200vh) translateZ(-50vh);
    }
    to {
      transform: translateY(-200vh) translateZ(-50vh);
    }
  }
  
  @keyframes float-up-2 {
    from {
      transform: translateY(150vh) translateZ(-25vh);
    }
    to {
      transform: translateY(-150vh) translateZ(-25vh);
    }
  }
  
  @keyframes float-up-1 {
    from {
      transform: translateY(100vh);
    }
    to {
      transform: translateY(-100vh);
    }
  }
  
  @keyframes spin {
    10%,
    100% {
      transform: rotateY(360deg);
    }
  }
  
  @keyframes shrink {
    0% {
      transform: scale(1) translateX(0);
    }
    2.5% {
      transform: scale(0.75) translateX(5%);
    }
    7.5% {
      transform: scale(0.75) translateX(-5%);
    }
    10%,
    100% {
      transform: scale(1);
    }
}
  }